@import "mixin";
@import "color";
@import "const";

.header {
  width: 1620px;
  height: 130px;
  margin-left: 150px;
  border-bottom: $white $solid1;
  @include flexrowsbcenter;
  &__title {
    color: $graywhite;
  }
  &__menu {
    color: $graywhite;
    list-style-type: none;
    @include flexcenter;
    &_item {
      margin-right: 40px;
      @include pointer;
      &-active {
        border-bottom: $solid1 $orange;
      }
      :hover {
        color: red;
        border-bottom: $gray $solid1;
      }
    }

  }
  &__buttons {
    margin-left: 105px;
    :first-child {
      margin-right: 35px;
    }
  }
  &__button {
    width: 25px;
    height: 25px;
    border: none;
    @include pointer;
    background: $blackalmost;

    &_cart {
      background-image: url("../../assets/cart.svg");
    }
    &_lang {
      background-image: url("../../assets/lang.svg");
    }
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: 85.625%;
    margin-left: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    width: 90.625%;
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    width: 90%;
    margin-left: 10px;
  }
}
