<header class="header">
  <h1 class="header__title">3D Models Store</h1>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu_item"
          *ngFor="let items of dataService.items"
          [ngClass]="{
      'header__menu_item-active': items.active === true,
      '': items.active === false
      }"
      >{{ items.name }}</li>
    </ul>
    <div class="header__buttons">
      <button class="header__button header__button_cart"></button>
      <button class="header__button header__button_lang"></button>
    </div>
  </nav>
</header>
