@import "mixin";
@import "color";
@import "const";

.header {
  width: 1620px;
  height: 127px;
  @include flexcenter;
  &__button {
    width: 25px;
    height: 25px;
    border: none;
    @include pointer;
    background: #111111;
    &_cart {
      background-image: url("../../assets/cart.svg");
    }
    &_lang {
      background-image: url("../../assets/lang.svg");
    }
  }
}
